Exercises/XML and XSD/Ex3 - XSD Definition/ex3.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="students">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="student" maxOccurs="unbounded" minOccours="0">
					<xs:complexType>
						<xs:attribute type="xs:string" name="name" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>